.App {
  text-align: center;
}

.search-container {
  margin: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  transition: border-color 0.3s;
}

.search-input::placeholder {
  color: #888;
}

.search-input:focus {
  outline: none;
  border-color: #007BFF;
}

.coinList {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

#titleCoinList {
  font-size: 24px;
  margin: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.coin {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease;
}

.coin:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.coin strong {
  font-weight: bold;
}

.coinList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Menu.css */

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #2d2d2d;
  color: #ffffff;
}

.menu-button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #555;
}

.menu-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  display: block;
}

.menu-container:hover .dropdown-menu {
  display: block;
}

.language-select {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}


/* loader */

#loaderTxt {
  margin-top: 20px;
  color: #ccc;
  margin: 0;
  font: .8em verdana;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/*
 * Loading Dots
 */
.loading span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 */
.loading span:nth-of-type(2) {
  background: #008FB2;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #009B9E;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #00A77D;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #00B247;
  animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #5AB027;
  animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
  background: #A0B61E;
  animation-delay: 1.2s;
}

/*
 * Animation keyframes */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chart-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.hide-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.footer {
  background-color: #2d2d2d;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.rtlText {
  direction: rtl;
}

.ltrText {
  direction: ltr;
}
